/* Add flex layout to the body to distribute the elements */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
button{
  cursor: pointer;
}
/*Style for the header and footer content*/
.header,
.footer {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

/* Style for web name and navbar*/
.header_navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.web_name {
  font-size: 34px;
  color: white;
}
.navbar_links {
  font-size: 20px;
  color: white;
  display: flex;
  gap: 10px;
}
.navbar_links a {
  font-size: 20px;
  color: white;
}
.header_content {
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.content_description {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.content_title {
  font-size: 48px;
  font-weight: 400;
  flex: 1;
  max-width: 403px;
}
/* Modify Canary Islands (text label) font*/
.canary_text {
  font-family: "Poetsen One", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.content_description button {
  max-width: 150px;
  
}

/* Image width and height */
.content_img img {
  display: flex;
  align-items: center;
  width: 240px;
  height: 240px;
}

/*Styles for project container*/
.project_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project_container p{
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}
.projects{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 30px;
}
/*Style for each individual project*/
.project{
  display: flex;
  flex-direction: column;
  background: transparent;
  gap: 30;
}
.project button{
  background: transparent;
  border-radius: 12px #3882f6;
  
}