/* Add flex layout to the body to distribute the elements */
body {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  max-width: 150px;
  border-radius: 10px;
  font-family: "Poetsen One", sans-serif;
}

/*Style for the header and footer content*/
.header,
.footer {
  background-color: #213044;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
}

/* Style for web name and navbar*/
.header_navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.web_name {
  font-size: 34px;
  color: white;
}

.navbar_links {
  padding: 0;
  font-size: 20px;
  color: white;
  display: flex;
  gap: 20px;
}

.navbar_logos {
  height: 40px;
  width: 40px;
}

.header_content {
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content_description {
  gap: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content_title {
  margin: 0;
  align-items: center;
  font-size: 48px;
  font-weight: 400;
  flex: 1;
  max-width: 403px;
}

/* Modify Canary Islands (text label) font*/
.canary_text {
  font-family: "Poetsen One", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* Image width and height */
.content_img img {
  display: flex;
  align-items: center;
  width: 240px;
  height: 240px;
}

/*Styles for project container*/
.project_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.project_container p {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;

}

.projects {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  gap: 30px;
}

/*Style for each individual project*/
.project {

  display: flex;
  flex-direction: column;
  background: transparent;
  gap: 20px;
}

.project button {
  background: transparent;
  border-radius: 12px;
  border-color: #3882f6;
}

/*Style for quote section*/
.quote {
  display: flex;
  background-color: #E5E7EB;
  padding: 100px;
  font-size: 30px;
  font-style: italic;
}

/*Style for newsletter section*/
.newsletter_container {
  display: flex;
  justify-content: space-around;  
  background-color: #3882f6;
  font-family: "Poetsen One", sans-serif;
  color: #E5E7EB;
  border-radius: 25px;  
  margin: 50px;
  padding: 25px;
}

.neswletter_items {  
  align-items: center;  
  gap: 100px;
}

/*Style for the footer*/

.footer {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: flex-end;
}